#container {
    max-width: 1140px;
}
.menu_wrapper {
    background-color: rgb(39, 39, 39);
}
.main-menu {
    max-width: 1140px;
}
.header {
    background: url('../images/head_bg.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
}
.header-inner {
    max-width: 1140px;
    margin: 0 auto;
}
.view-slideshow1 {
    min-height: 295px;
    padding: 20px;
    background-color: #ccc;
}
.views-row {
    position: relative;
    width: 100%;
}
.views-field-title {
    font-size: 20px;
    margin-bottom: 15px;
}
.views-field-body {
    width: 45%;
    text-align: justify;
}
.views-field-field-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
.views-field-field-image img {
    max-width: 100%;
}

#block-menu-menu-service-menu, #block-block-1, #block-block-2 {
    width: 32%;
    float: left;
}
#block-block-1 {
    margin-right: 4%; 
    text-align: justify;
}
#block-block-2::after {
    content: " ";
    display: block;
    clear: both;

}
.content.node-page {
    clear: both; 
}